alias ls='ls --color=auto'
alias ll='ls -l --color=auto'
alias lla='ls -l -a --color=auto'
alias grep='grep --color=auto'
alias alipan='aliyunpan-go'
alias svim='sudo -E nvim'
alias icat='kitten icat'
